<div class="softdaytimeline">
    <div class="panel panel-default" style="position:relative;">
        <div class="panel-body">
            <div class="timeline">
                <div class="divisor-container"> </div>
                <div class="timeline-container"> </div>
            </div>

            <div class="legenda-container"> </div>
        </div>
        <div class="overlay-carregando" ng-show="loading">
            <div class="overlay-texto">
                <i class="fa fa-refresh fa-spin fa-2x"></i>
            </div>
        </div>
    </div>
</div>